.column {
    float: left;
    width: 50%;
    color:white;
    font-size: 40px;
    position: relative;
   
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
    
  }
  .row{
      margin-left: 150px;
  }
  @media screen and (max-width: 960px){
      .column{
        
        font-size: 23px;
        
      }
      
  }