video{
    object-fit:cover;
    width: 100%;
    height:100%;
    position: fixed;
    z-index: -1;
    
}
.hero-container{
    /* background : url ('images/img-home.jpg') center center/cover
    no-repeat; */
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit:contain;
   

}
.hero-container >h1 {
    color:beige;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.hero-container >p {
    color:beige;
    font-size: 40px;
    overflow-wrap:break-word;
    
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
.hero-btns .btn{
    margin:10px;
}
@media screen and (max-width: 960px){
    .hero-container >p {
        color:beige;
        font-size: 20px;
        /* overflow-wrap:break-word;
        
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 100px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style:italic; */
        
    }

    

}

@media screen and (max-width: 768px){
    .hero-container >p {
        color:beige;
        font-size: 20px;
        /* overflow-wrap:break-word;
        
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 100px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style:italic; */
        
    }
    
}